body {
    margin: 0;
    background-color: hsl(186, 43%, 65%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 0 10px;
}

h1 {
    padding: 0 10px;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
}

a:visited {
    color: hsl(0, 0%, 0%);
}

a:hover {
    border-bottom: 2px solid hsl(33, 100%, 88%);
}

button {
    margin: 10px;
    border: 5px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: hsl(33, 100%, 88%);
}

footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    background-color: hsl(186, 44%, 39%);
}

#scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    margin: 0 auto;
    border: solid 5px hsl(0, 0%, 0%);
    border-radius: 25px;
    padding: 0 0 20px;
    background: linear-gradient(90deg, hsl(33, 100%, 88%) 50%, hsl(180, 50%, 80%) 50%);
    height: 240px;
    max-width: 640px;
    justify-content: space-between;
}

#contenders {
    border-bottom: 5px solid hsl(0, 0%, 0%);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#contender-choices {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#player-choice-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#computer-choice-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    transform: scaleX(-1);
}

#rock {
    background: hsl(33, 100%, 88%) no-repeat center/90% url(images/rock.svg);
}

#paper {
    background: hsl(33, 100%, 88%) no-repeat center/90% url(images/paper.svg);
}

#scissors {
    background: hsl(33, 100%, 88%) no-repeat center/90% url(images/scissors.svg);
}

#copyright {
    font-size: 1.1rem;
}

.container {
    padding: 10px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contender {
    padding: 10px;
    width: 250px;
    align-items: center;
}

.choice-btn {
    margin: 4px;
    background: hsl(33, 100%, 88%) no-repeat center;
    height: 96px;
    width: 96px;
}